$primaryColor : rgb(37, 37, 220);
$secondaryColor : #56687A;
$warningColor : #CC3300;
$pageWrapper:rgb(240, 242, 245);
$danger : rgb(254,0,0);
$fontColor : #050505;
$borderColor: rgb(229, 229, 229);
$formControls: #EEF3F8;

